
mat-card>:first-child{
    margin-top: 20px;
}
.mat-card-content{
    margin-top: 40px;
}
 *{
    box-sizing: border-box;
  }
  mat-card-title{
      text-align: center;
  }
  .selecterror{
      padding:0;
      margin: 0;
  }
  